  <div>
    <input type="text" name="collegename" [(ngModel)]="info.collegename">
    <input type="text" name="department" [(ngModel)]="info.department">
    <button (click)="add()">ADD</button>
   </div>

    <table>
    <thead>
      <tr>
        <th>COLLEGENAME</th>
        <th>DEPARTMENT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of tabledata; let i=index">
        <td>{{x.collegename}}</td>
        <td>{{x.department}}</td>
        <td><button (click)="delete(i)">DELETE</button></td>
        </tr>
    </tbody>
   </table>
